name: Elixir CI

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  # unit tests
  test:
    runs-on: ubuntu-latest
    name: Test - OTP ${{matrix.otp}} / Elixir ${{matrix.elixir}}
    strategy:
      matrix:
        otp: ["21.x", "22.x", "23.x"]
        elixir: ["1.9.x", "1.10.x", "1.11.x"]
    steps:
      - uses: actions/checkout@v2
      - name: Setup elixir
        uses: erlef/setup-elixir@v1
        with:
          otp-version: ${{matrix.otp}}
          elixir-version: ${{matrix.elixir}}
      - name: Install Dependencies
        run: mix deps.get
      - name: Run Tests
        run: mix test

  # mutation tests
  test-mutation:
    name: Test mutation
    runs-on: ubuntu-latest
    env:
      MIX_ENV: mutation
    steps:
      - uses: actions/checkout@v2
      - name: Setup elixir
        uses: erlef/setup-elixir@v1
        with:
          otp-version: 23.x
          elixir-version: 1.11.x
      - run: mix deps.get
      - run: mix muzak --min-coverage 95.0

  # Linit and type checking
  analyze:
    runs-on: ubuntu-latest
    name: Analyze - OTP ${{matrix.otp}} / Elixir ${{matrix.elixir}}
    strategy:
      matrix:
        otp: ["21.x", "22.x", "23.x"]
        elixir: ["1.9.x", "1.10.x", "1.11.x"]
    steps:
      - uses: actions/checkout@v2
      - name: Setup elixir
        uses: erlef/setup-elixir@v1
        with:
          otp-version: ${{matrix.otp}}
          elixir-version: ${{matrix.elixir}}
      - run: mix deps.get
      - run: mix dialyzer
      - run: mix credo --strict

  # Coverage
  coverage:
    name: Coverage
    runs-on: ubuntu-latest
    env:
      MIX_ENV: test
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - uses: actions/checkout@v2
      - name: Setup elixir
        uses: erlef/setup-elixir@v1
        with:
          otp-version: 23.x
          elixir-version: 1.11.3
      - run: mix deps.get
      - run: mix coveralls.github
