name: Elixir CI

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  # unit tests
  test:
    runs-on: ubuntu-latest
    name: Test
    steps:
      - uses: actions/checkout@v2
      - name: Setup elixir
        uses: erlef/setup-beam@v1
        with:
          otp-version: "25.2"
          elixir-version: "1.15.8"
      - name: Install Dependencies
        run: mix deps.get
      - name: Run Tests
        run: mix test

  # mutation tests
  test-mutation:
    name: Test mutation
    runs-on: ubuntu-latest
    env:
      MIX_ENV: mutation
    steps:
      - uses: actions/checkout@v2
      - name: Setup elixir
        uses: erlef/setup-beam@v1
        with:
          otp-version: "25.2"
          elixir-version: "1.15.8"
      - run: mix deps.get

  # Linit and type checking
  analyze:
    runs-on: ubuntu-latest
    name: Analyze
    steps:
      - uses: actions/checkout@v2
      - name: Setup elixir
        uses: erlef/setup-beam@v1
        with:
          otp-version: "25.2"
          elixir-version: "1.15.8"
      - run: mix deps.get
      - run: mix dialyzer
      - run: mix credo --strict

  # Coverage
  coverage:
    name: Coverage
    runs-on: ubuntu-latest
    env:
      MIX_ENV: test
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - uses: actions/checkout@v2
      - name: Setup elixir
        uses: erlef/setup-beam@v1
        with:
          otp-version: "25.2"
          elixir-version: "1.15.8"
      - run: mix deps.get
      - run: mix coveralls.github
